
scientist-demo/.vs/scientist-demo/DesignTimeBuild/.dtbcache.v2

scientist-demo/.vs/scientist-demo/v16/.suo

scientist-demo/bin/Debug/netcoreapp3.1/scientist-demo.dll

scientist-demo/bin/Debug/netcoreapp3.1/scientist-demo.pdb

scientist-demo/obj/Debug/netcoreapp3.1/scientist-demo.csprojAssemblyReference.cache

scientist-demo/obj/Debug/netcoreapp3.1/scientist-demo.dll

scientist-demo/obj/Debug/netcoreapp3.1/scientist-demo.pdb
